.hidden {
  display: none;
}
body {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
#con {
  display: flex;
  flex-direction: column;
}
.container1 {
  align-self: flex-end;
}
